DJANGO_SECRET_KEY=jsc0z-$6jt(lm%amvo$$4s+7d^3d4x92@g3xw7^adgy5*@+2q!
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,10.0.2.2

DB_NAME=healthapp
DB_USER=healthy_user
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432